*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	border: 1px ;
	padding: 10px;
 
}
.container{
	position: relative;
	max-width: 800px;
	padding: 10px;
	margin: 50px auto;
	
}

h3{
	font-size: 28px;
	text-align: center;
	color: black;
}

.addTask{
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.addTask > input[type="text"]{
	width: 90%;
	color: #333;
	border:none;
	border-bottom: 2px solid #666;
	background: none;
	padding: 10px;
	font-size: 22px;
	outline: none;
}
.addTask button{
	margin: 0 10px;
	background: #222;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	cursor: pointer;
}
tr button{
	/* float: right; */
	    padding: 5px;
    
    margin: inherit;
}
tbody{
    width: 90%;
}



table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  td, th {
	border: 1px  #dddddd;
	text-align: left;
	padding: 8px;
  }
